body {
    background-color: #fafafa;
    color: #434343;
}

header { }
    header .logo {}
    header .hand {}


.content {}
.content-card { margin-bottom: 150px; }
    .content-card img {
        max-height: 100px;
        max-width: 100px;
        margin-bottom: 75px;
    }
    .content-card h2 {
        font-size: 2.5rem;
        text-align: center;
        margin: 100px auto 150px;
    }

    .content-card h3 {
        color: #4285f4;
        font-size: 1.8rem;
        margin-bottom: 30px;
    }
    .content-card p {font-size: 1.8rem;
        line-height: 2.25rem;
    }