body {
    background-color: #fafafa;
    color: #434343;
}

header {
    background: url('../images/image1.jpg') center top;
    background-size: cover;
    min-height: 100vh;
}
    header .logo {
        color: white;
        padding-left: 40%;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    }
    header .logo h2 {
        margin-bottom: 40px;
    }
    header .logo .btn-primary {
        border-radius: 10px;
        font-size: 1.5rem;padding: 10px 20px;
        text-shadow: none;
    }
    header .hand img {
        /*left: 50%;*/
        /*float: left;*/
        /*max-height: 900px;*/
        position: relative;
        /*top: 480px;*/
        width: 100%;
    }


.content {
  background: #fafafa;
  position: relative;
    z-index: 80;
}
    .content h2 {
        font-size: 2.5rem;
        text-align: center;
        margin: 100px auto 150px;
    }

.content-card { margin-bottom: 150px; }
    .content-card img {
        display: none;
        max-height: 100px;
        max-width: 100px;
        margin-bottom: 75px;
    }

    .content-card h3 {
        color: #4285f4;
        font-size: 1.8rem;
        margin-bottom: 30px;
    }
    .content-card p {font-size: 1.8rem;
        line-height: 2.25rem;
    }



.bottom-info {
    background: url('../images/image8.jpg') center top;
    background-size: cover;
    color: white;
    min-height: 750px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}

    .bottom-info h2 {
        font-size: 6rem;
        margin-bottom: 30px;
    }
    .bottom-info p {
        font-size: 1.75rem;
    }



.contact {
    background-color: #efefef;
    border-bottom: 2px solid #424242;
    color: #424242;
    padding-bottom: 100px;
    padding-top: 100px;
    /*text-align: center;*/
}
    .contact a {
        color: #424242;
    }
    .contact h2 {
        margin-bottom: 100px;
    }
    .contact p {
        font-size: 3rem;
        font-weight: lighter;
    }
    .contact .fa {
        color: black;
        margin-right: 20px;
    }

footer .text-center {
    text-align: center;
    margin: 15px auto;
}

/* useful classes */

.flex,
.vcenter,
.hcenter { display: -ms-flexbox; display: -webkit-flex; display: flex; }
.vcenter { -ms-flex-align: center; -webkit-align-items: center; -webkit-box-align: center; align-items: center; }
.hcenter {  -webkit-justify-content: center; justify-content: center; }