/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    header .logo-container {
        background: none;
        display: flex;
        text-align: left;
        width: auto;
    }
    header .logo {
        height: auto;
        padding-left: 40%;
        padding-top: 0;
    }

    header .logo h1 {
        display: block;
    }
    header .logo .btn-primary {
        display: block;
    }
    .content-card img {
        display: inline-block;
    }

    .bottom-info h2 {
        font-size: 6rem;
    }
    .contact p {
        font-size: 3rem;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

